src/main/mule/junkins-pipeline.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1162822b-7920-4272-a1a6-0869baf247ea" >
		<http:listener-connection host="0.0.0.0" port="8092" />
	</http:listener-config>
	<flow name="junkins-pipelineFlow" doc:id="409bc681-b695-428f-9a46-2b577f988200" >
		<http:listener doc:name="Listener" doc:id="f8730c95-1759-4df6-bd20-1221cac101f5" config-ref="HTTP_Listener_config" path="/junkins"/>
		<set-payload value='#[output application/json&#10;---&#10;{&#10;	"Message": "junkins"&#10;}]' doc:name="Set Payload" doc:id="51f81bb9-ac52-4d36-b0ac-e9f1989a4b19" />
		<logger level="INFO" doc:name="Logger" doc:id="f05d3a89-9531-49fa-a998-640f96062daf" message="#[payload]"/>
	</flow>
</mule>
